a{
  font-family: 'Nunito Sans', sans-serif;
}

body{
    background-color: #F4F4F4;
}

.form-control{
    position: relative;
    padding-left: 30px;
}

i{
    position: relative;
    z-index: 1;
    top:30px;
    left: 8px;
    color: gray;
}